.crypto-loader-wrapper {
  display: flex;
  justify-content: center;

  .crypto-loader-icon {
    animation: 2s crypto-loader linear infinite;

    width: 8rem;
    height: 8rem;
  }

  @keyframes crypto-loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}