// Container widget background color
$container-color: #0385E6;

// SVG background color
$ltc-svg-color: #B6B7BA;
$usd-svg-color: #85BB65;
$bch-svg-color: #85BB65;
$xbt-svg-color: #F7931A;

// Text color
$white-color: #FFFFFF


